.board-link {
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    background-color: #333333;
    color: #fff;
    text-transform: uppercase;
}
.board {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px;
}